.legalization {
	padding: 90px $spacingDesktop 0;
	background: url("../images/legalization.png") no-repeat;
	background-size: cover;
	position: relative;
	& > * {
		position: relative;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: rgba(50, 50, 50, 0.7);
	}
	&-navbar {
		&__list {
			list-style-type: none;
			display: flex;
		}
		&__item:nth-child(2) {
			margin: 0 10px;
		}
		&__link {
			color: $clr-white;
			font-size: 1.142rem;
			font-weight: 300;
			text-decoration: none;
		}
		&__item:nth-child(1) > &__link {
			color: rgba(255, 255, 255, 0.5);
			text-decoration: underline;
		}
	}
	&__heading {
		font-family: $font-oswald;
		font-weight: 500;
		font-size: 4rem;
		color: $clr-white;
		margin: 57px 0 35px;
		max-width: 867px;
		line-height: 70px;
	}
	&__subheading {
		color: $clr-white;
		font-size: 1.375rem;
		letter-spacing: 0.1em;
		max-width: 603px;
		line-height: 30px;
	}
	&__btn {
		padding: 15px 63px;
		margin-top: 45px;
		line-height: 19px;
	}
	&__cards-container {
		display: flex;
		justify-content: space-between;
		transform: translateY(155.5px);
	}
}

.card {
	border-radius: 2px;
	background-color: $clr-white;
	text-align: center;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	&__title {
		color: #2b2a29;
		text-transform: uppercase;
		font-family: $font-oswald;
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
		margin: 37px 0 13px;
	}
	&__description {
		color: $clr-black-secondary;
		line-height: 24px;
		margin-bottom: 38.7px;
	}
}
